body {
  background-color: #000;
  color: #fff;
  font: 400 16px 'Montserrat', sans-serif;
  background-image: url("https://live.staticflickr.com/4098/4816541922_4a44b84e76_o.jpg");
  background-size: cover;
}

h1 {
  margin-top: 20px;
  font: 900 125px/100px 'Libre Franklin', sans-serif;
  text-align: center;
  letter-spacing: -11px;
}

h2 {
  text-align: center;
  font: 600 32px/32px 'Libre Franklin', sans-serif;
  color: #ff329c;
}

#member {
  text-align: center;
  font: 600 24px/24px 'Libre Franklin', sans-serif;
}

#review {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  text-indent: 20px;
}

p {
  margin: 20px auto;
  font-size: 20px;
}

ol {
  margin-top: 100px;
  margin-left: 610px;
  width: 590px;
  background-color: #ccc;
  color: #ff329c;
  padding: 25px;
}

li {
  display: block;
  font-size: 24px;
  font-weight: 500;
}

.song {
  background-color: inherit;
  color: #000;
}

#front {
  display: block;
  width: 590px;
  margin-top: -540px;
  margin-left: 5px;
}

#license{
  margin-left: 5px;
  font-size: 14px;
  width: 590px;
  color: #ccc;
}

a {
  color: #fff;
  background-color: inherit;
}
a:visited {
  color: #ff329c;
  background-color: inherit;
}

.pink{
  color: #ff329c;
  background-color: inherit;
}
