h3 {
   font-family: 'Share Tech Mono', monospace;
   color: #fcfffa;
   background-color: #0f0606;
   text-align: center;
   font-size: 1.3rem;
   padding: 8px;
}

h1,
h2 {
   font-family: Electrolize, sans-serif;
   background-color: #b0b3af;
   text-align: center;
   padding: 10px;
   font-size: 1.5rem;
}

p {
   font-family: 'Share Tech Mono', monospace;
   color: #fcfffa;
}

body {
   background-color: #b0b3af;
   margin: 4px;
}

a {
   text-decoration: none;
   color: #ed6d64;
}

a:hover {
   background-color: lightgrey;
}

div {
   background-color: #0f0606;
   text-align: center;
   display: inline-block;
   padding: 10px;
   line-height: 18px;
   width: inherit;
}

.first {
   height: inherit;
   padding: 10px 100px;
}

.second {
   height: inherit;
   padding: 10px 100px;
}

.third {
   height: inherit;
   padding: 10px 100px 20px;
}

nav ol li {
   background-color: #0f0606;
   color: #fcfffa;
   text-align: center;
   font-size: 1.1rem;
   padding: 4px;
   font-family: 'Share Tech Mono', monospace;
}

.firstpic {
   padding: 20px 1px 10px;
   width: 50vw;
   height: 60vh;
}

.sndpic {
   padding: 20px 1px;
   width: 50vw;
   height: 60vh;
}
